<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AtlasGCP">
  <test name="GCP Tests">
    <classes>
             <class name="com.CondeNast.SmokeSuite.ATLAS_GCPSmoke_TC_001"></class>
             <class name="com.CondeNast.SmokeSuite.ATLAS_GCPSmoke_TC_004_RA"></class>
             <class name="com.CondeNast.SmokeSuite.ATLAS_GCPSmoke_TC_023"></class>
    </classes>
  </test>	
</suite>