<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AtlasGCP">
  <test name="GCP Tests">
    <classes>
             <class name="com.CondeNast.TestScenarios.SalesAgent.ATLAS_1911_Sprint7_TC_2567"></class>
             <class name="com.CondeNast.TestScenarios.SalesAgent.ATLAS_623_Sprint5_TC_1786"></class>
             <class name="com.CondeNast.TestScenarios.SalesAgent.ATLAS_623_Sprint5_TC_1778"></class>
    </classes>
  </test>	
</suite>